p {
  color: #6c727f;
}

h3 {
  color: #20293a;
}

body {
  background-color: #fafaf9;
  font-family: "Sora", sans-serif;
}

#card {
  width: 368px;
  background-color: #ffffff;
}

#cactus {
  width: 336px;
  height: 152px;
}

.design-tag {
  color: #883ae1;
  background-color: #e6d6fc;
}
