body {
  background-color: #fafaf9;
  font-family: "Sora", sans-serif;
}

p {
  color: #6c727f;
  font-size: 0.875rem;
}

h3 {
  color: #20293a;
  font-size: 1.125rem;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 16px;
}

.divider {
  border-top: solid #e5eaf0;
  border-width: 1px;
}

.small-text {
  font-size: 0.75rem;
  padding-top: 20px;
}

.text-bottom {
  padding-bottom: 20px;
  margin: 0;
}

#card {
  width: 368px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(17, 23, 41, 0.05) 0px 30px 100px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 164px;
}

#card-img {
  padding: 16px;
}

#cactus {
  width: 336px;
  height: 152px;
  border-radius: 15px;
}

.tags {
  font-size: 0.625rem;
  font-weight: bold;
}

.design-tag {
  color: #883ae1;
  background-color: #e6d6fc;
  padding: 6px 16px 6px 16px;
  border-radius: 15px;
}

.side-spacing {
  padding-left: 16px;
  padding-right: 16px;
}

#footer-text {
  padding: 16px 16px 20px 16px;
}
