@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  line-height: 1.75;
  color: #52525a;
}

body {
  background-color: #fafaf9;
  margin: 6.25rem 4.5rem;
  display: flex;
}

.main,
.side {
  width: 50%;
}

.main {
  padding-right: 16.5px;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16.5px;
  margin: 0.75rem 0;
}

/* Star styling */
#star-circle {
  background-color: #f5c044;
  padding: 8px;
  border-radius: 50%;
}

.gold-star {
  filter: invert(75%) sepia(21%) saturate(1472%) hue-rotate(345deg)
    brightness(110%) contrast(92%);
}

.gray-star {
  filter: invert(84%) sepia(2%) saturate(235%) hue-rotate(202deg)
    brightness(98%) contrast(100%);
}
/* Star styling end */

h1,
h3 {
  color: #18181b;
}

.header h1 {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
}
.body {
  font-weight: 300;
}

.body-text {
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
  margin: 0.25rem 0;
}

#checklist {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
}

#checklist img {
  filter: invert(50%) sepia(13%) saturate(1853%) hue-rotate(75deg)
    brightness(106%) contrast(77%);
  padding-right: 0.75rem;
}

#checklist li {
  display: flex;
  align-items: center;
  padding-bottom: 0.8rem;
}

/* Card Start */
.card {
  background-color: #ffffff;
  width: 357.5px;
  border-radius: 15px;
  padding: 1.5rem 2.25rem;
}

.logo {
  width: auto;
  height: 30px;
}

#google {
  align-self: flex-end;
}

.card-logo {
  display: flex;
  align-items: center;
}

.card-logo ul {
  list-style: url(../images/Star_fill.svg) inside;
  display: flex;
  padding-inline-start: 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.card-title {
  padding: 10px 0 8px 0;
  font-weight: 500;
}
/* Card Ends */

@media screen and (max-width: 910px) {
  body {
    display: block;
    margin: 6.25rem 1.5rem;
  }
  .main,
  .side {
    margin-top: 3.5rem;
    width: 100%;
    padding: 0;
  }
  .card {
    margin-bottom: 2.5rem;
  }
}
